.git
.github
.gitignore
.DS_Store
.astro
.claude
.idea
.local
.vscode
.wrangler
dist
node_modules

.env
.env.*
!.env.example

docs
tests
playwright-report
test-results
playwright.config.ts
vitest.config.ts

*.log
npm-debug.log*
write_wall.py
