---
import TemplateLayout from '../../layouts/template.astro';
import EventPage from '../../components/engine/EventPage';
---

<TemplateLayout title="Andres & Ivanna | Confirmación">
  <body>
    <EventPage
      client:only="react"
      EVENTS_URL={import.meta.env.PUBLIC_EVENTS_URL}
    />
  </body>
</TemplateLayout>
