---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <!-- Preconnect to AWS S3 -->
    <link rel="preconnect" href="https://itbem-events-bucket-prod.s3.us-east-2.amazonaws.com" crossorigin>

    <!-- Preconnect to Google Maps -->
    <link rel="preconnect" href="https://maps.googleapis.com" crossorigin>
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
</style>